<div class="card-list">
  <span>
    <label class="card-label">Lowercase</label>
    <mat-card class="test-card">
      <mat-card-content>ılıman ilik</mat-card-content>
    </mat-card>
  </span>
  <span>
    <label class="card-label">Locale Passed to Pipe</label>
    <mat-card class="test-card">
      <mat-card-content>{{
        "Ilıman İlik" | localeuppercase: "tr-TR"
      }}</mat-card-content>
    </mat-card>
  </span>
  <span>
    <label class="card-label">Default Pipe Behavior</label>
    <mat-card class="test-card">
      <mat-card-content>{{ "Ilıman İlik" | localeuppercase }}</mat-card-content>
    </mat-card>
  </span>
  <span>
    <label class="card-label">Invalid Locale Passed to Pipe</label>
    <mat-card class="test-card">
      <mat-card-content>{{
        "Ilıman İlik" | localeuppercase: "123"
      }}</mat-card-content>
    </mat-card>
  </span>
</div>
