.card-list {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  margin: 0 auto;
  flex-flow: row wrap;
}

.test-card {
  width: 300px;
  margin: 10px;
}

.card-label {
  margin: 10px;
  font-weight: normal;
  font-size: large;
}

.card-label:hover {
  text-decoration: none;
}
